In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

        imdb_id     budget    revenue  ... release_date vote_average release_year
124   tt2245084  165000000  652105443  ...   10/24/2014          7.8         2014
1175  tt0339034   12000000    4922166  ...    6/20/2003          3.5         2003
323   tt1057500   60000000  122233971  ...   12/10/2009          6.9         2009
745   tt0983193  130000000  371940071  ...   10/25/2011          6.6         2011
1217  tt1911644   13000000   68572378  ...    3/14/2013          6.6         2013

[5 rows x 14 columns]

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [14]:
answers = {} # создадим словарь для ответов

data['profit']=data['revenue']-data['budget']
# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [181]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [5]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()] # выбираем максильный бюджет

       imdb_id     budget     revenue  ... release_date vote_average release_year
723  tt1298650  380000000  1021683000  ...    5/11/2011          6.3         2011

[1 rows x 14 columns]

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [182]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [15]:
data[data.runtime == data.runtime.max()] # максимальное время

        imdb_id    budget   revenue  ... vote_average release_year    profit
1157  tt0279111  56000000  12923936  ...          5.8         2003 -43076064

[1 rows x 15 columns]

# 3. Какой из фильмов самый короткий (в минутах)?

In [183]:
answers['3'] = 'Winnie the Pooh'
data[data.runtime == data.runtime.min()] # минимальное время

       imdb_id    budget   revenue  ... paramount warner month
768  tt1449283  30000000  14460000  ...     False  False     4

[1 rows x 20 columns]

# 4. Какова средняя длительность фильмов?

In [184]:
answers['4'] = '110'
data['runtime'].mean() # среднее значение

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [185]:
answers['5'] = '107'
data['runtime'].median() # медиана значений

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [186]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6']= 'Avatar'
data[data.profit == data.profit.max()] # максимальный профит

       imdb_id     budget     revenue  ... paramount warner month
239  tt0499549  237000000  2781505847  ...     False  False    12

[1 rows x 20 columns]

# 7. Какой фильм самый убыточный?

In [187]:
answers['7']= 'The Lone Ranger'
data[data.profit == data.profit.min()] # минимальный профит

        imdb_id     budget   revenue  ... paramount warner month
1245  tt1210819  255000000  89289910  ...     False  False     7

[1 rows x 20 columns]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [188]:
answers['8']= '1478'
len(data[data.revenue > data.budget]) # кол-во фильмов

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [189]:
answers['9']= 'The Dark Knight'
data_2008 = data[data.release_year == 2008] # выделяем только 2008 год
data_2008[data_2008.profit == data_2008.profit.max()] # максимальный профит в 2008 году

       imdb_id     budget     revenue  ... paramount warner month
599  tt0468569  185000000  1001921825  ...     False   True     7

[1 rows x 20 columns]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [190]:
answers['10']= 'The Lone Ranger'
data_2012to14 = data[(data.release_year>=2012) & (data.release_year<=2014)] # выделяем года
data_2012to14[data_2012to14.profit == data_2012to14.profit.min()] # находим фильм в эти года

        imdb_id     budget   revenue  ... paramount warner month
1245  tt1210819  255000000  89289910  ...     False  False     7

[1 rows x 20 columns]

# 11. Какого жанра фильмов больше всего?

In [191]:
answers['11']= 'Drama'


pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts() # сплитуем через '|' и приводим к списку, считая значения

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [192]:
answers['12']= 'Comedy'

data_with_profit = data[data.profit > 0] # выбираем только прибыльные фильмы
data_with_profit['genres'].value_counts() # подсичтываем упоминание жанров

Comedy                                             121
Drama                                               70
Comedy|Romance                                      52
Drama|Romance                                       38
Horror|Thriller                                     31
                                                  ...
Drama|Science Fiction|Thriller                       1
Comedy|Drama|Romance|Thriller                        1
Comedy|Adventure|Fantasy|Action|Science Fiction      1
War|Drama|Action                                     1
Fantasy|Drama|Thriller|Romance                       1
Name: genres, Length: 548, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [193]:
answers['13']= 'Peter Jackson'

data_sum = data[['director', 'revenue']] # новая таблица для удобства
m=0
m1=''
for i in data_sum['director'].unique(): # выделяем режисеров
  a = data_sum[data_sum.director == i].revenue.sum() # считаем суммарные сборы
  if a > m: #проверка на максимальное число сборов
    m = max(a,m)
    m1=i
print(m,m1)

6490593685 Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [194]:
answers['14']= 'Michael Bay'
def action(x): # функция, определяющая, является ли фильм в стиле Action
  if 'Action' in x:
    return 1
  else:
    return 0

data['action'] = data.genres.apply(action) # новый столбец со значениями
data_action = data[['director', 'action']] # новая таблица для удобства
m=0
m1=''
for i in data_action['director'].unique(): # перебираем режисеров
  a = data_action[data_action.director == i].action.sum() # подсчитываем кол-во фильмов
  if a > m: # проверяем на наибольшее кол-во фильмов
    m = max(a,m)
    m1=i
print(m,m1)

7 Michael Bay

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [207]:
answers['15']= 'Chris Hemsworth'
m=0
m_name=''
cast_revenue = {}
data_2012 = data[data.release_year == 2012] # отбираем тольфо 2012 год
for actor in cast: # проходимся по актерам
  data_tmp = data_2012[data_2012['cast'].map(lambda x: True if actor in x else False)]
  cast_revenue[actor] = data_tmp.revenue.sum()
max(cast_revenue, key=cast_revenue.get) # находим максимальное кол-во упоминаний акетра, key нужен при работе со словарями

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [196]:
answers['16']= 'Matt Damon'

data_high_budget = data[data.budget > data.budget.mean()] # только высокобюджетные фильмы
pd.DataFrame(data_high_budget.cast.str.split('|').tolist()).stack().value_counts() # подсчитываем актеров

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Craig Berry           1
Joel Murray           1
Roscoe Lee Browne     1
Gates McFadden        1
Armin Rohde           1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [197]:
answers['17']= 'Action'
data_cage = data[data['cast'].map(lambda x: True if 'Nicolas Cage' in x else False)] # новая таблица, где есть Nicolas
pd.DataFrame(data_cage.genres.str.split('|').tolist()).stack().value_counts() # подсчет жанров

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
War                 1
Horror              1
Romance             1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [198]:
answers['18']= 'K-19: The Widowmaker'
data['paramount'] = data.production_companies.apply(lambda x: True if 'Paramount Pictures' in x else False) # новая колонка, есть ли Paramount в компаниях
data_param = data[['paramount', 'profit', 'original_title']] # новая таблица для удобства
data_param = data_param[data.paramount == True]
# data_param(data.profit == data.profit.min()) # находим минимальное значение
data_param[data.profit==-64831034]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

     paramount    profit        original_title
925       True -64831034  K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [199]:
answers['19']= '2015'
m=0
m1=0
for i in range(2000,2016): # проход по годам в цикле
  if data[data.release_year == i].revenue.sum()>m:
    m=data[data.release_year == i].revenue.sum()
    m1=i
m1

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [200]:
answers['20']= '2014'
data['warner'] = data.production_companies.apply(lambda x: True if 'Warner Bros' in x else False) # новая колонка
data_warner = data[['warner', 'profit', 'original_title', 'release_year']] # новая таблица для удобства
data_warner = data_warner[data.warner == True] # только где есть warner
m=0
m1=0
for i in range(2000,2016): # проход по годам в цикле
  if data_warner[data_warner.release_year == i].profit.sum()>m:
    m=data_warner[data_warner.release_year == i].profit.sum()
    m1=i
m1
data.head()

     imdb_id     budget     revenue  ... paramount warner month
0  tt0369610  150000000  1513528810  ...     False  False     6
1  tt1392190  150000000   378436354  ...     False  False     5
2  tt2908446  110000000   295238201  ...     False  False     3
3  tt2488496  200000000  2068178225  ...     False  False    12
4  tt2820852  190000000  1506249360  ...     False  False     4

[5 rows x 20 columns]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [201]:
answers['21']= 'cентябрь'
data['release_date'] = pd.to_datetime(data['release_date']) # функция преобразования строки в тип datetime
data['month'] = data['release_date'].dt.month # находим месяц и выделяем в новую колонку
data['month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [202]:
answers['22']= '450'
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month 
data['month'].value_counts()
print(147+142+161) # подсчет из таблицы из предыдущего задания

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [203]:
answers['23']= 'Peter Jackson'
data_winter = data[(data.month > 11) | (data.month<3) ] # выделяем только зимние месяцы
data_winter['director'].value_counts()

Peter Jackson                       7
Clint Eastwood                      6
Steven Soderbergh                   6
Martin Scorsese                     4
Shawn Levy                          4
                                   ..
Florian Henckel von Donnersmarck    1
Antoine Fuqua                       1
JosÃ© Padilha                       1
Brett Ratner                        1
Nick Cassavetes                     1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [204]:
answers['23']= 'Peter Jackson'

studios = ['Universal Pictures (Universal)', 'Warner Bros', 'Jim Henson Company, The', 'Paramount Pictures', 'Four By Two Productions']
for i in studios:

SyntaxError: ignored

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [179]:
data.head()

     imdb_id     budget     revenue  ... paramount warner month
0  tt0369610  150000000  1513528810  ...     False  False     6
1  tt1392190  150000000   378436354  ...     False  False     5
2  tt2908446  110000000   295238201  ...     False  False     3
3  tt2488496  200000000  2068178225  ...     False  False    12
4  tt2820852  190000000  1506249360  ...     False  False     4

[5 rows x 20 columns]

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [205]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Michael Bay',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '2': 'Gods and Generals',
 '20': '2014',
 '21': 'cентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight'}

In [206]:
# и убедиться что ни чего не пропустил)
len(answers)

23